{% extends('admin/panel.html') %}

{% block content %}
        <div class="admin-stats">
            <h2>📈 Statistiques</h2>
            <a href="admin/tickets">
                <div>
                    <p>456789</p>
                    <p>Tickets</p>
                </div>
            </a>
            <a href="admin/users">
                <div>
                    <p>89</p>
                    <p>Utilisateurs</p>
                </div>
            </a>
            <a href="admin/tickets">
                <div>
                    <p>56789</p>
                    <p>Messages</p>
                </div>
            </a>
            <a href="admin/computers">
                <div>
                    <p>789</p>
                    <p>Ordinateurs</p>
                </div>
            </a>
        </div>

{% endblock %}