<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Page de connexion à MyPanel">
    <meta name="author" content="Thomas DLMP">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sass/main.css') }}">
    <title>MyPanel - {{ title if title}}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>